<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, rgba(14, 217, 48, 0.4) 10%, rgba(33, 150, 243, 0) 30%); ">
      <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
        <div class="grid flex flex-column align-items-center">
          <img src="assets/itaap-ms-manager/images/login.svg" alt="Error" class="mb-5" width="60%">
          <h2 class="text-900 font-bold text-3xl mb-2">Itaap Microservice Manager</h2>
          <span class="text-600 mb-5">Successfully Signed Out!</span>
          <button pButton pRipple icon="pi pi-arrow-left" label="Go to Dashboard" class="p-button-text" [routerLink]="['/']"></button>
        </div>
      </div>
    </div>
  </div>
</div>
